html,body {
	height: 100%;
	overflow: hidden;
}

#wrap{
	height: 100%;
	text-align: center;
	#canvas{
		background: gray;
		background: url(../img/bg.jpg);
		background-size: 100% 100%;
		background-position-y: 0;
	}
	.mask1{
		transition: .5s;
		background: rgba(0,0,0,.5);
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		.menu{
			margin: 170px auto;
			a{
				.btnStyle();
			}
		}
		.pause{
			margin: 142px auto 70px auto;
			display: none;
			a{
				.btnStyle();
			}
			.score{
				.scoreStyle();
			}
			>p{
				margin-top: 70px;
				text-align: center;
				font-size: 15px;
				color: lightgray;
			}
		}
		.over{
			width: 100%;
			height: 100%;
			margin: 0 auto;
			cursor: pointer;
			display: none;
			&>p{
				&:nth-child(1){
					padding-top: 190px;
					text-align: center;
					font-size: 50px;
					color: white;
					margin-bottom: 20px;
				}
				&:nth-child(3){
					margin-top: 150px;
					text-align: center;
					font-size: 15px;
					color: lightgray;
				}
			}
			.score{
				.scoreStyle();
			}
		}
		.rank{
			height: 100%;
			.top{
				margin: 0 auto;
				padding: 20px;
				width: 250px;
				.clearFix();
				h3{
					text-align: center;
					color: white;
					font-size: 30px;
					float: left;
					width: 100px;
					height: 50px;
					line-height: 50px;
					padding: 0 12.5px;
				}
			}
		}
	}
}

.btnStyle(){
	text-decoration: none;
	text-align: center;
	font-size: 30px;
	line-height: 50px;
	display: block;
	color: black;
	width: 200px;
	height: 50px;
	margin: 30px auto;
	border: 2px solid;
	border-color: black;
	background: rgba(255,255,255,1);
	transition: .3s;
	&:hover {
		background: rgba(255,255,255,.5);
	}
}

.scoreStyle{
	p{
		text-align: center;
		font-size: 30px;
		&:nth-child(1){
			color: white;
		}
		&:nth-child(2){
			color: orange;
		}
	}
}

.clearFix{
	&:after{
		display: block;
		clear: both;
		content: '';
		height: 0;
		visibility: hidden;
	}
}